#about-us-top-section {
    position: relative; 
    overflow: hidden; 
    width: 100%;
    height: 40vh; 
    perspective: 1000px;

  }
  
  #about-us-top-image{
    position: fixed;
    /* background-size: cover;  */
    background-position: center;
    opacity: 0.7; 
    z-index: -1;
    /* background-attachment: fixed;  */
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

  }



  #about-us-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 20px;
    color: #fff; 

  }
  
  #about-us-title h2 {
    /* font-size: 24px;  */
    margin: 0;


  }




  #about-us-info-section{
    padding: 4rem 10%;
    background-color: #f6f5f2;
    color: #21293e;
  }


  #about-us-to-team-button{
    margin-top: 2rem;
    font-weight: 700;
}




#about-us-to-team-button button{
    background: none;
    text-decoration: none;
    border-radius: 50%;
    border-width: 0px;
    /* background: white; */
    margin: 0% 1.4rem;
}

#about-us-to-team-button button:hover{
    color: #e3b873;
}
  